html {
  margin: 0 20px;
}

* {
  color: black;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

#logo {
  margin: 0;
}

#logo img {
  width: 400px;
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

header, section {
  margin-bottom: 80px;
}

section img {
  max-width: 100%;
  height: auto;
}

body {
  text-align: center;
  margin: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ol li {
  display: inline;
}

nav ol li:not(:last-child) {
  padding-right: 50px;
}

ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#map {
  margin: 30px 0 0 0;
}

#map iframe {
  max-width: 100%;
}

.grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

